Source: ros-kinetic-world-canvas-client-py
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python-pymongo, ros-kinetic-catkin, ros-kinetic-roslib, ros-kinetic-rospy, ros-kinetic-visualization-msgs, ros-kinetic-world-canvas-msgs
Homepage: http://ros.org/wiki/world_canvas_client_py
Standards-Version: 3.9.2

Package: ros-kinetic-world-canvas-client-py
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-pymongo, ros-kinetic-roslib, ros-kinetic-rospy, ros-kinetic-visualization-msgs, ros-kinetic-world-canvas-msgs
Description: Python client library to access semantic maps within the world canvas framework.
